body {
	width:100%;
	background-color: #87CEEB;
}

li a:hover {
    background-color: orange;
    color: white;
} 

h1 {
	text-align: center;
}

hr {
	size: 5;
	background-color: black;
}

table {
	border: 1;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%
}

#footer {
	text-align: center;
}

.content {
	margin-left: 20%;
	margin-right: 20%;
}